body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
project {
    color: #c60000;
    font-weight: bold;
  }
  
  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  #qr-code {
    margin-top: 20px;
    display: inline-block;
  }
  
  #qr-code canvas {
    margin: 20px;
    border: 1px solid #ccc;
  }

  @media print {
    body * {
      visibility: hidden; /* Hides all useless stuff on print preview */
    }

    #qr-code, #qr-code * {
      visibility: visible; /* Shows only the QR code while printing out */
    }

    #qr-code {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
